
.nav-tabs{
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 1em;
    font-size: 15px;
    color: #ffffff;
  

}
.card{
 margin-left: 4rem;

 
}
#home-page{
  padding-top: 5rem;
  transform: translateX(70px);
}
.logo{
    width: 10px;
    height: 10px;
 margin-right: 100%;
 transform: translateY(-20px);
}

.show{
  color: rgb(0, 21, 255);
  text-decoration:none;
}
.show:hover{
  color: #c80606;
  text-decoration:none;
}
.cv {
  color: rgb(19, 92, 201);
  text-decoration:none;
}
  
.cv:hover{
  color: #c80606;
  text-decoration:none;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-link{
  transform: translateY(30px);
}
  
.copy{
  transform: translateY(30px);
}
.footer-social-link{
  display: flex;
  gap: 2rem;
  font-size: 40px;
}

  