<!doctype html>
<html lang="en">
  <head>
    <title>OBENG FRANCIS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <!-- Template Main CSS File -->
 <script src="https://kit.fontawesome.com/66e2824adb.js" crossorigin="anonymous"></script>
 <link href="/Public/global.css" rel="stylesheet">

</head>
  <body>

   
    <section>
    <ul class="nav nav-tabs">
      <div class="logo">
      <a href="index.html">
        <img src="/Public/vt_logo.svg.png" >
      </a>
    </div>
        <li class="nav-item">
            <a class="nav-link active" href="index.html">HOME</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="education.html">EDUCATION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="research.html">RESEARCH</a>
        </li>

      </ul>
    </section>
      <br>
      <br>
      <br>
  
    
      <div class="container-fluid">
        <div class="row" id="card">
          <div class="col-xl-3">
      <div class="card">
        <img class="card-img-top" src="/Public/Profile.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">OBENG FRANCIS</h4>
          <p class="card-text">Ph.D. Student &nbsp;&nbsp;
            <a href="/Public/licence/CV_OBENG FRANCIS.pdf" target="_blank" class="cv">CV</a>
          </p>

          <p>
           <a href="mailto:email@example.com" class="cv" >Email: obengfrancis89@vt.edu</a>
          </p>
        </div>
      </div>
      </div>

      <div class="roww">
      <div class="col-xl-9" id="home-page">
           <h4>OBENG FRANCIS</h4><br>
           <p>PhD student</p><br>
           <p>Graduate Teaching Assistant: Mobile Application Development</p><br>
           <p>Department of Computer Science and Application, Virginia Tech.</p><br>
            <p>
             <strong>Research Interest: </strong> Human-Computer Interaction, Cybersecurity,
              Networks, Systems, and Artificial Intelligence. </p>

              <p> 
                I am a PhD Student at Virginia Tech. University, (spring, 2023), I'm currently taking 
                Research Methods in computer science and
                Web Application Development.
              </p>
              <p>
                Prior to my admittance to Virginia Tech. University, I was a 
                Information Technology Instructor 
                at Obuasi Senior High Technical School.
              </p>
              <p> where I instructed High School Student's in HTML, CSS, Introduction to Java 
                programming, Access DSatabase and spreadsheet application</p>
              <p><strong>EDUCATION</strong></p>
                <p>PhD., Computer Science and Application (Student)</p>
                <p>Virginia Tech. University, 2023</p>
                <p>Bsc. Information Technology Education</p>
                <p>University of Education, Winneba-Ghana, 2019</p>

                <p><strong>LICENSES</strong></p>
                <p>
                  Financial Conflict of Interest Training Requirement for Sponsored Research
                 <p> 
                  <a href="/Public/licence/CITI CERTIFICATE_OBENG FRANCIS.pdf"
                  target="_blank" class="show"> Show License</a>
                </p>
                </p>
                <p>
                  Basic Responsible Conduct of Research
                 <p> 
                  <a href="/Public/licence/CITI CERTIFICATE-RCR_OBENG FRANCIS.pdf" 
                  target="_blank" class="show"> Show License</a>
                 
                </p>
                </p>
                <p>
                  Information Privacy and Security (IPS)
                 <p> 
                  <a href="/Public/licence/IPS_CERTIFICATION_OBENG FRANCIS.pdf" 
                  target="_blank" class="show"> Show License</a>
                </p>
                </p>  
              </div>    
            </div>
          </div>
          <br>
          <hr>
          <hr>
        <section class="footer">

          <h6 class="copy">Copyright@Obeng Francis, 2023</h6>
          <div class="footer-link">
            <a href="index.html" class="link">Home</a> ||
            <a href="education.html" class="link">Education</a> ||
            <a href="research.html" class="link">Research</a>
        </div>
          <div class="footer-social-link">
            <a href="https://www.linkedin.com/in/francis-obeng-781a32261"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://github.com/obengfrancis"><i class="fa-brands fa-github"></i></a>
            <a href="mailto:email@example.com"><i class="fa-sharp fa-solid fa-envelope"></i></a>
            <a href="index.html"><i class="fa-brands fa-twitter"></i></a>
          </div>
        </section>
        <br>  
        <br>
        <hr>
        <hr>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>